@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);




#menu-10 .mbr-brand__name {
  font-size: 16px;
}
#menu-10.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#menu-10 .mbr-navbar__hamburger {
  color: #553982;
}
#menu-10 .mbr-brand__name a {
  font-size: 21px;
  font-family: 'Open Sans Condensed', sans-serif;
}
#menu-10 .mbr-navbar__items a {
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
}
#header2-16 H1 {
  color: #27aae0;
  font-size: 60px;
}
#header2-16 P {
  font-size: 20px;
}
#msg-box5-17 .mbr-header__text {
  color: #9365b8;
  font-size: 46px;
}
#msg-box5-17 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-17 .mbr-article {
  color: #ffffff;
}
#msg-box3-15 .mbr-header .mbr-header__text {
  text-align: left;
  color: #f97352;
  font-size: 46px;
}
#msg-box3-15 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-15 .mbr-article P {
  color: #ffffff;
  font-size: 22px;
}
#msg-box3-15 .mbr-article H1 {
  color: #ffffff;
  text-align: left;
}
#msg-box4-6 .mbr-header__text {
  color: #97d0e7;
  font-size: 32px;
}
#msg-box4-6 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-6 .mbr-article {
  color: #ffffff;
}
#msg-box4-6 .mbr-article P {
  font-family: 'Titillium Web', sans-serif;
  color: #ffffff;
  font-size: 22px;
  text-align: left;
}
#msg-box4-6 .mbr-article B {
  color: #ffffff;
}
#msg-box1-12 .mbr-header .mbr-header__text {
  color: #f97352;
  font-size: 46px;
}
#msg-box1-12 .mbr-article {
  color: #fff;
}
#msg-box1-12 .mbr-header .mbr-header__text {
  color: #fff;
}
#msg-box1-12 .mbr-article {
  color: #fff;
}
#msg-box1-15 .mbr-header .mbr-header__text {
  color: #9365b8;
  font-size: 36px;
}
#msg-box1-15 .mbr-article {
  color: #fff;
  font-family: 'Roboto', sans-serif;
}
#footer1-8 P {
  color: #ffffff;
}
